.THIS .errorMsg {
	border-radius: 10px;
	background: #FFFACD;
	border: 2px solid #FFFFFF;
}

.THIS .slds-textarea {
    background-color: #f2f2f2;
 }

 .THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label {
 	background-color: #000099;
 }

 .THIS .clear-width {
 	width: 150px;
 }

 .THIS .remove-required .slds-required {
 	display: none;
 }

@media (min-width: 48em) {
    .THIS .actions > .slds-form-element > .slds-form-element__legend {
	  width: 15%;
    }

    .THIS .actions > .slds-form-element > .slds-form-element__control {
	   width: 80%;
    }
}